<script setup lang="ts">
import { ref } from 'vue';
import visibilityIcon from '@/shared/assets/icons/visibility.svg';
const show = ref(false);

defineOptions({
  name: 'text-field',
});

defineProps<{
  icon: string;
}>();
</script>

<template>
  <div class="ui-textfield-container">
    <img :src="icon" />
    <input
      v-bind="$attrs"
      :type="show ? 'password' : 'text'"
      class="ui-textfield"
    />
    <img
      :src="visibilityIcon"
      v-if="$attrs.type === 'password'"
      class="h-6 text-gray-700 cursor-pointer"
      @click="show = !show"
    />
  </div>
</template>
