.ui-title {
  @apply text-black font-montserrat font-bold text-[2.5rem] leading-[2.375rem];
}

.ui-btn {
  @apply bg-secondary-blue rounded-[0.625rem] font-inter font-bold text-xl leading-6 text-white uppercase w-full py-5 mt-6 transition-all ease-linear duration-200;
}

.ui-btn[disabled] {
  @apply bg-grey cursor-not-allowed;
}

.ui-link,
.ui-typography {
  @apply font-montserrat text-base;
}

.ui-link {
  @apply text-secondary-blue no-underline font-medium;
}

.ui-typography {
  @apply text-dark font-normal;
}

.ui-form {
  @apply flex flex-col gap-3;
}

.ui-fieldset {
  @apply w-full px-3 flex justify-center items-center flex-col;
}

.ui-delimiter {
  @apply inline-block w-[7.5rem] h-0 border border-solid border-x-grey;
}

.ui-textfield {
  @apply w-full outline-none;
  background: transparent;
}

.ui-textfield,
.ui-textfield::placeholder {
  @apply font-inter text-lg leading-6;
  color: #2d31a633;
}

.ui-textfield-container {
  @apply h-16 border-2 rounded-[0.625rem] flex justify-between items-center px-[0.625rem] gap-[0.625rem] border-secondary-blue-opacity;
  background: linear-gradient(
    0deg,
    rgba(128, 152, 249, 0.1),
    rgba(128, 152, 249, 0.1)
  );
}

.ui-input-container {
  @apply w-full flex flex-col gap-[0.625rem];
}

.ui-checkbox {
  @apply h-5 w-5 cursor-pointer appearance-none rounded-md border-[2px] overflow-hidden border-secondary-blue;
  @apply checked:before:w-full checked:before:h-full checked:before:content-['✓'] checked:before:text-primary-blue checked:before:flex checked:before:justify-center checked:before:items-center;
}
