<template>
  <h1 class="ui-title">Login to your Account</h1>
  <div class="flex justify-between items-center my-[25px] px-3">
    <span class="ui-delimiter" />
    <span class="ui-typography">with email</span>
    <span class="ui-delimiter" />
  </div>
  <login-form />
</template>

<script lang="ts" setup>
import { LoginForm } from '@/shared/components';
defineOptions({
  name: 'login-page',
});
useSeoMeta({
  title: 'Login Page',
});
</script>

<style lang="scss" scoped></style>
