<template>
  <div class="circle-container">
    <img src="@/shared/assets/images/circle.svg" />
    <img :src="imageSrc" class="circle-container-image" />
  </div>
</template>

<script lang="ts" setup>
defineOptions({
  name: 'circle-container',
});
defineProps<{
  imageSrc: string;
}>();
</script>

<style src="./index.css" scoped />
