<script setup lang="ts">
import { ofetch, FetchError } from 'ofetch';
import emailIcon from '@/shared/assets/icons/email.svg';
import passwordIcon from '@/shared/assets/icons/password.svg';
import { TextField } from '@/shared/components';
import { useLoginStore } from '@/stores';
import { isValidForm } from '@/shared/utils';

const store = useLoginStore();

const loginHandler = async (event: Event) => {
  event.preventDefault();
  try {
    const response = await ofetch('https://dummyjson.com/auth/login', {
      method: 'POST',
      body: JSON.stringify(store.userData),
      headers: {
        'Content-Type': 'application/json',
      },
    });
    console.log(response);
  } catch (err: FetchError | unknown) {
    alert((err as FetchError).data.message);
  }
};

defineOptions({
  name: 'login-form',
});
</script>

<template>
  <form @submit="loginHandler" autocomplete="off">
    <fieldset class="ui-fieldset">
      <div class="ui-input-container">
        <text-field
          type="email"
          placeholder="Email"
          :icon="emailIcon"
          :value="store.userData.email"
          @input="store.userData.email = $event.target.value"
        />
        <text-field
          type="password"
          placeholder="Password"
          :icon="passwordIcon"
          :value="store.userData.password"
          @input="store.userData.password = $event.target.value"
        />
      </div>

      <button
        :disabled="!isValidForm(store.userData)"
        type="submit"
        class="ui-btn"
      >
        log in
      </button>
      <p class="ui-typography mt-5">
        Don’t have account?
        <nuxt-link to="/signup" class="ui-link">Create an account</nuxt-link>
      </p>
    </fieldset>
  </form>
</template>
