<template>
  <div class="left-panel-container">
    <div class="left-panel-body">
      <div class="left-panel-content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
defineOptions({
  name: 'left-panel',
});
</script>

<style src="./index.css" scoped />
