.left-panel-container {
  @apply bg-white-100 flex justify-end items-start;
}

.left-panel-body {
  @apply w-full h-full max-w-3xl flex justify-center items-center px-6;
}

.left-panel-content {
  @apply w-[477px] max-w-full;
}
