<script lang="ts" setup>
import VOtpInput from 'vue3-otp-input';
import { useSignupStore } from '@/stores';

const signupStore = useSignupStore();
const router = useRouter();

const changeEmailHandler = (event: Event) => {
  event.preventDefault();
  signupStore.resetPassword();
  router.push('/signup');
};

defineOptions({
  name: 'otp-page',
});

useSeoMeta({
  title: 'OTP Page',
});
</script>

<template>
  <h1 class="ui-title">Enter OTP</h1>
  <p class="ui-typography !leading-[30px]">
    Sent OTP on
    <span class="ui-link !leading-6">{{ signupStore.userData.email }}</span>
  </p>
  <nuxt-link to="/login" class="ui-link" @click="changeEmailHandler"
    >Change email</nuxt-link
  >
  <v-otp-input
    input-classes="otp-input ui-textfield"
    separator=""
    :num-inputs="6"
    :should-auto-focus="true"
    :placeholder="['-', '-', '-', '-', '-', '-']"
    input-type="letter-numeric"
    inputmode="numeric"
    class="otp-container"
    value=""
  />
  <button class="ui-btn">Submit</button>
</template>

<style>
.otp-container {
  @apply !grid grid-cols-otp gap-5 mt-6;
}
.otp-container > div {
  @apply w-16 h-16 outline-secondary-blue border-2 rounded-[0.625rem] border-secondary-blue-opacity;
  background: linear-gradient(
    0deg,
    rgba(128, 152, 249, 0.1),
    rgba(128, 152, 249, 0.1)
  );
}
.otp-input {
  @apply outline-none rounded-[0.625rem] border-none;
}

.otp-input,
.otp-input::placeholder {
  @apply font-inter font-normal text-[2rem] leading-6 text-secondary-blue text-center;
}
</style>
