<template>
  <h1 class="ui-title">Create your account</h1>
  <p class="ui-typography mt-1 mb-6">Unlock all Features!</p>
  <signup-form />
</template>

<script lang="ts" setup>
import { SignupForm } from '@/shared/components';
import { useSignupStore } from '@/stores';

const store = useSignupStore();

useSeoMeta({
  title: 'Signup Page',
});

onBeforeRouteLeave((to, from, next) => {
  if (store.isFilledForm && to.path !== '/otp') {
    const redirect = confirm(
      'Вы уверены, что хотите перейти? Введенные данные будут удалены'
    );
    if (redirect) {
      store.$reset();
      next();
    }
    return;
  } else {
    next();
  }
});
defineOptions({
  name: 'login-page',
});
</script>

<style lang="scss" scoped></style>
