<script lang="ts" setup>
import { RightPanel, LeftPanel } from '@/shared/components';
import homeIllustartion from '@/shared/assets/images/home_illustration.svg';
import signUpIllustration from '@/shared/assets/images/signup_illustration.svg';
import otpIllustration from '@/shared/assets/images/signin_illustration.svg';
import { IContent } from '../shared/types/content';

const contentConfig = ref<IContent>({
  '/login': {
    title: 'Connect with any device',
    description: 'Everything you need is an internet connection.',
    imageSrc: homeIllustartion,
  },
  '/signup': {
    title: 'Join us!',
    description: 'Just go through the boring process of creating an account.',
    imageSrc: signUpIllustration,
  },
  '/otp': {
    title: `It's just OTP verification`,
    description: ' YYu are one step away from recovering your password.',
    imageSrc: otpIllustration,
  },
});
const { fullPath } = useRoute();
</script>

<template>
  <section class="grid grid-cols-2 h-screen">
    <left-panel>
      <slot />
    </left-panel>
    <right-panel
      :title="contentConfig[fullPath].title"
      :description="contentConfig[fullPath].description"
      :imageSrc="contentConfig[fullPath].imageSrc"
    />
  </section>
</template>
