<script setup lang="ts">
import usernameIcon from '@/shared/assets/icons/username.svg';
import emailIcon from '@/shared/assets/icons/email.svg';
import passwordIcon from '@/shared/assets/icons/password.svg';
import { useSignupStore } from '@/stores';
import { TextField } from '@/shared/components';
import { isValidForm } from '@/shared/utils';

const store = useSignupStore();
const router = useRouter();

const submitHandler = (event: Event) => {
  event.preventDefault();
  router.push('/otp');
};

defineOptions({
  name: 'signup-form',
});
</script>

<template>
  <form @submit="submitHandler" autocomplete="off">
    <fieldset class="ui-fieldset">
      <div class="ui-input-container">
        <text-field
          type="text"
          placeholder="Username"
          :icon="usernameIcon"
          :value="store.userData.username"
          @input="store.userData.username = $event.target.value"
        />
        <text-field
          type="email"
          placeholder="Email"
          :icon="emailIcon"
          :value="store.userData.email"
          @input="store.userData.email = $event.target.value"
        />
        <text-field
          type="password"
          placeholder="Password"
          :icon="passwordIcon"
          :value="store.userData.password"
          @input="store.userData.password = $event.target.value"
        />
        <text-field
          type="password"
          placeholder="Confirm Password"
          :icon="passwordIcon"
          :value="store.userData.confirmPassword"
          @input="store.userData.confirmPassword = $event.target.value"
        />
      </div>
      <div
        class="w-full flex justify-start items-center gap-[0.625rem] mt-[0.625rem]"
      >
        <input
          type="checkbox"
          class="ui-checkbox"
          v-model="store.userData.accept"
        />
        <span class="ui-typography leading-2 relative top-[1px]"
          >Accept <a href="#" class="ui-link">terms and conditions</a></span
        >
      </div>
      <button
        :disabled="!isValidForm(store.userData)"
        type="submit"
        class="ui-btn"
      >
        SIGN UP
      </button>
      <p class="ui-typography mt-3">
        You have account?
        <nuxt-link to="/login" class="ui-link">Login now</nuxt-link>
      </p>
    </fieldset>
  </form>
</template>
