.right-panel-container {
  @apply flex justify-start items-start bg-primary-blue;
}

.right-panel-body {
  @apply w-full max-w-3xl flex justify-center items-center flex-col;
  padding: 209px 57px 108px 57px;
}
.right-panel-content {
  @apply mt-[3.125rem];
}
.right-panel-description,
.right-panel-title {
  @apply text-white font-montserrat text-base text-center;
}

.right-panel-title {
  @apply text-xl leading-6 font-bold;
}

.right-panel-description {
  @apply text-base font-medium;
}
