<script lang="ts" setup>
import { CircleContainer } from '@/shared/components';

defineProps<{
  title: string;
  description: string;
  imageSrc: string;
}>();
defineOptions({
  name: 'right-panel',
});
</script>

<template>
  <div class="right-panel-container">
    <div class="right-panel-body">
      <circle-container :image-src="imageSrc" />
      <div class="right-panel-content">
        <h2 class="right-panel-title">{{ title }}</h2>
        <p class="right-panel-description">{{ description }}</p>
      </div>
    </div>
  </div>
</template>

<style src="./index.css" scoped />
